{% extends 'ciscoadmin/base.html' %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Device name</label>
            <input type="text" class="form-control" id="exampleInputEmail1"
                   name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail2" class="form-label">IP address</label>
            <input type="text" class="form-control" id="exampleInputEmail2"
                   name="ip_address" minlength="7" maxlength="15" size="15"
                   pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail3" class="form-label">Device login</label>
            <input type="text" class="form-control" id="exampleInputEmail3"
                   name="login">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail4" class="form-label">Device password</label>
            <input type="text" class="form-control" id="exampleInputEmail4"
                   name="password">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="on" id="id_hub" name="hub">
            <label class="form-check-label" for="id_hub">
                Device is DMVPN Hub
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}